* {
	margin: 0;
	box-sizing: border-box;
	transition: all 0.7s ease;
}

html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("shelter/fonts/georgia.ttf") format("ttf");
}

@font-face {
	font-family: "Arial";
	font-style: normal;
	font-weight: 400;
	src: url("shelter/fonts/arial.ttf") format("ttf");
}

body {
	background-color: #fff;
}

.container {
	width: 1280px;
	margin: 0 auto;
	@media (max-width: 768px) {
		width: 100%;
	}
}

.container__header {
	background-color: #211f20;
	@media (max-width: 768px) {
		padding: 0px 30px;
	}
	@media (max-width: 320px) {
		padding: 0px 20px;
	}
}
.header {
	margin-bottom: 90px;
}
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px 0px 40px;
	@media (max-width: 768px) {
		padding: 30px 0px 0px 0px;
	}
	@media (max-width: 320px) {
		margin-bottom: 60px;
	}
}

.burger__menu {
	display: none;
	@media (max-width: 320px) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 22px;
	}
}

.burger__menu span {
	display: block;
	width: 30px;
	border: 1px solid #f1cdb3;
}

.navigation__logo {
}
.logo a {
	text-decoration: none;
}
.logo__title {
	font-family: "Georgia", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.06em;
	margin-bottom: 10px;
	color: #f1cdb3;
}
.logo__description {
	font-family: "Arial", sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.1em;
	color: #fff;
}
.navigation__list {
	@media (max-width: 320px) {
		display: none;
	}
}

.list {
	display: flex;
	list-style-type: none;
}

.list__item {
	font-family: "Arial", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
}

.list__item a {
	position: relative;
	color: #cdcdcd;
	text-decoration: none;
}

.list__item a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 3px;
	background-color: #cdcdcd;
	transition: all 0.7s ease;
	transform: scale(0);
	transform-origin: left;
}

a:hover::after {
	transform: scale(1);
}

.about-item a::after {
	transform: scale(0);
}

ul li:not(:first-child) {
	margin-left: 35px;
}

.not__only {
	display: flex;
	justify-content: space-between;
	padding: 0 40px;
	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		padding: 0;
	}
}
.not__only-presentation {
	max-width: 470px;
}
.presentation {
	display: flex;
	flex-direction: column;
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	padding-top: 160px;
	@media (max-width: 768px) {
		padding: 60px 0px 100px 0px;
	}
	@media (max-width: 320px) {
		padding: 0px 25px;
		margin-bottom: 100px;
	}
}
.presentation__title {
	max-width: 410px;
	font-weight: 400;
	font-size: 44px;
	line-height: 130%;
	margin-bottom: 40px;
	color: #fff;
	@media (max-width: 320px) {
		font-size: 25px;
		text-align: center;
	}
}
.presentation__text {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	line-height: 160%;
	margin-bottom: 40px;
	color: #cdcdcd;
}
.presentation__btn {
	display: inline-block;
	font-family: "Georgia", sans-serif;
	font-size: 17px;
	padding: 15px 45px;
	width: 207px;
	height: 52px;
	border: none;
	border-radius: 100px;
	background-color: #f1cdb3;
	color: #292929;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.7s ease;
	@media (max-width: 768px) {
		align-self: center;
	}
}

.presentation__btn:hover {
	transform: scale(1.2);
}

.not__only-img {
	flex: 0 0 58.333%;
	@media (max-width: 768px) {
		flex: 0 1 74.09%;
		align-self: flex-end;
		max-width: 569px;
	}
	@media (max-width: 320px) {
		display: flex;
		max-width: 260px;
	}
}

.not__only-image {
	display: block;
	max-width: 569px;
	@media (max-width: 320px) {
		max-width: 260px;
	}
}

.about {
	display: flex;
	justify-content: center;
	padding-top: 90px;
	padding: 90px 0px;
	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		padding: 80px 0px 100px 0px;
	}
	@media (max-width: 320px) {
		padding: 40px 10px 40px 10px;
	}
}

.about__first-column,
.about__second-columm {
	flex: 0 0 50%;
}

.about__first-column {
	display: flex;
	justify-content: flex-end;
	padding-right: 120px;
	@media (max-width: 768px) {
		padding-right: 0px;
		order: 2;
	}
}

.about-img {
	display: block;
	max-width: 300px;
}

.about__second-columm {
	@media (max-width: 768px) {
		order: 1;
		margin-bottom: 80px;
	}
	@media (max-width: 320px) {
		margin-bottom: 40px;
	}
}

.about__wrapper {
	max-width: 430px;
}

.about__title {
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
	margin-bottom: 20px;
	@media (max-width: 320px) {
		font-size: 25px;
		text-align: center;
	}
}

.about__text {
	font-family: "Arial", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
}

.about__text--first {
	line-height: 180%;
	margin-bottom: 20px;
}

.our-friends {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 0px 115px 0px;
	background-color: #f6f6f6;
	@media (max-width: 768px) {
		padding-bottom: 100px;
	}
}
.our-friends__title {
	max-width: 400px;
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-align: center;
	color: #545454;
	margin-bottom: 60px;
}
.slider__container {
	display: flex;
	justify-content: center;
	width: 100%;
}
.slider {
	position: relative;
	display: flex;
	margin-bottom: 60px;
}
.slider__item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 9px;
	padding: 10px 35px 30px 35px;
	width: 270px;
	height: 435px;
	background-color: #fafafa;
	margin: 0px 45px;
	@media (max-width: 768px) {
		margin: 0px;
	}
}

.item--3 {
	@media (max-width: 768px) {
		display: none;
	}
}

.item--1 {
	@media (max-width: 768px) {
		margin-right: 20px;
	}
}

.item--2 {
	@media (max-width: 768px) {
		margin-left: 20px;
	}
}

.slider__item-img {
	width: 270px;
	height: 270px;
}
.slider__item-title {
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.06em;
	color: #545454;
}
.slider__item-btn {
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 0.06em;
	width: 187px;
	height: 52px;
	border-radius: 100px;
	border: 2px solid #f1cdb3;
	background-color: #fafafa;
	cursor: pointer;
	transition: all 0.7s ease;
}

.slider__item-btn:hover {
	background-color: #f1cdb3;
}

.slider__item-btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slider-btn {
	width: 52px;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #f1cdb3;
	border-radius: 100%;
	cursor: pointer;
	background-color: #fafafa;
}

.slider-btn:hover {
	background-color: #f1cdb3;
}

.slider-btn--previous {
	position: absolute;
	left: -65px;
	top: 180px;
}

.slider-btn--next {
	position: absolute;
	right: -65px;
	top: 180px;
}

.our-friends__btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 0.06em;
	border-radius: 100px;
	padding: 15px 45px;
	/* width: 261px;
	height: 52px; */
	background-color: #f1cdb3;
	border: 2px solid #f1cdb3;
}

.our-friends__btn:hover {
	background-color: #fafafa;
}

.help {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Georgia", sans-serif;
	padding: 65px 127px 100px 127px;
	@media (max-width: 768px) {
		padding: 80px 70px 45px 70px;
	}
}
.help__title {
	max-width: 330px;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-align: center;
	color: #545454;
	margin-bottom: 60px;
}
.help__type {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.help__type-item {
	flex: 1 0 20%;
	@media (max-width: 768px) {
		flex: 1 0 33.33%;
	}
}
.help__type-item:first-child {
	margin-bottom: 55px;
	@media (max-width: 768px) {
		margin-bottom: 0;
	}
}
.item-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@media (max-width: 768px) {
		margin-bottom: 55px;
	}
}
.item-type__text {
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.06em;
	margin-top: 23px;
}

.in-addition {
	display: flex;
	padding: 90px 0px 100px 0px;
	font-family: "Georgia", sans-serif;
	@media (max-width: 768px) {
		padding: 80px 0px 100px 0px;
		flex-direction: column;
		align-items: center;
	}
}
.in-addition__first-column {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex: 0 0 53%;
	@media (max-width: 768px) {
		order: 2;
	}
}
.in-addition__img {
	max-width: 505px;
}
.in-addition__second-column {
	padding-left: 35px;
	color: #545454;
	@media (max-width: 768px) {
		order: 1;
		padding-left: 0px;
		margin-bottom: 60px;
	}
}

.in-addition__second-column a {
	display: block;
}

.in-addition__second-column a:hover {
	transform: scale(1.1);
}

.in-addition__title {
	max-width: 300px;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	margin-bottom: 20px;
}
.in-addition__requisites {
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.06em;
	margin-bottom: 20px;
}
.in-addition__credit-card {
	max-width: 349px;
	margin-bottom: 20px;
}
.in-addition__description {
	max-width: 380px;
	font-family: "Arial", sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #b2b2b2;
}

.footer-main {
	display: flex;
	justify-content: space-between;
	padding: 40px 40px 0px 40px;
	font-family: "Georgia", sans-serif;
	background: radial-gradient(549.89% 73.65% at 5.73% 50%, rgb(81, 61, 47) 0%, rgb(26, 26, 28) 100%);
	@media (max-width: 768px) {
		padding: 30px 30px 0px 30px;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.column {
	flex: 0 1 33.333%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 15px;
	@media (max-width: 768px) {
		flex: 0 0 48%;
		padding-top: 0;
	}
}
.column-1 {
	max-width: 280px;
	margin-bottom: 80px;
	@media (max-width: 768px) {
		margin-bottom: 65px;
		margin-right: 30px;
	}
}
.column__title {
	font-weight: 400;
	font-size: 35px;
	line-height: 120%;
	letter-spacing: 0.06em;
	color: #fff;
}

.link-footer {
	position: relative;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
}

.link-footer__1 a {
	display: block;
}

.link-footer a {
	padding-left: 60px;
	text-decoration: none;
	color: #f1cdb3;
}

.link-footer a::before {
	content: url(shelter/assets/icons/icon-marker.svg);
	position: absolute;
	left: 5px;
	top: 6px;
}

.link-footer__2 a::before {
	content: url(shelter/assets/icons/icon-marker.svg);
	position: absolute;
	left: 5px;
	top: -8px;
}

.column__email-link {
}
.column-2 {
	max-width: 313px;
	margin-bottom: 80px;
	align-items: flex-start;
	@media (max-width: 768px) {
		margin-bottom: 65px;
		margin-left: 30px;
		height: 234px;
	}
}
.column__location-link {
}
.column-3 {
	max-width: 300px;
	@media (max-width: 768px) {
		justify-self: center;
	}
}

.column-3 img {
	display: block;
}

.column__email-link a::before {
	content: url(shelter/assets/icons/icon-email.svg);
	position: absolute;
	left: 5px;
	top: -3px;
}

.column__tel-link a::before {
	content: url(shelter/assets/icons/icon-phone.svg);
	position: absolute;
	left: 5px;
	top: -3px;
}
