* {
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("../../fonts/georgia.ttf") format("ttf");
}

@font-face {
	font-family: "Arial";
	font-style: normal;
	font-weight: 400;
	src: url("../../fonts/arial.ttf") format("ttf");
}

.container {
	width: 1280px;
	margin: 0 auto;
}

.container__header {
	background-color: #211f20;
}
.header {
	margin-bottom: 90px;
}
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px 0px 40px;
}
.navigation__logo {
}
.logo {
}
.logo__title {
	font-family: "Georgia", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.06em;
	margin-bottom: 10px;
	color: #f1cdb3;
}
.logo__description {
	font-family: "Arial", sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.1em;
	color: #fff;
}
.navigation__list {
}

.list {
	display: flex;
	list-style-type: none;
}

.list__item {
	font-family: "Arial", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	a {
		position: relative;
		color: #cdcdcd;
		text-decoration: none;
	}
}

a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 3px;
	background-color: #cdcdcd;
	transition: all 0.7s ease;
	transform: scale(0);
	transform-origin: left;
}

a:hover::after {
	transform: scale(1);
}

ul li:not(:first-child) {
	margin-left: 35px;
}

.not__only {
	display: flex;
	justify-content: space-between;
	padding: 0 40px;
}
.not__only-presentation {
	max-width: 410px;
}
.presentation {
	display: flex;
	flex-direction: column;
	font-family: "Georgia", sans-serif;
	font-weight: 400;
}
.presentation__title {
	font-weight: 400;
	font-size: 44px;
	line-height: 130%;
	margin-bottom: 40px;
	color: #fff;
}
.presentation__text {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	line-height: 160%;
	margin-bottom: 40px;
	color: #cdcdcd;
}
.presentation__btn {
	display: inline-block;
	font-family: "Georgia", sans-serif;
	font-size: 17px;
	padding: 15px 45px;
	width: 207px;
	height: 52px;
	border: none;
	border-radius: 100px;
	background-color: #f1cdb3;
	color: #292929;
	cursor: pointer;
	transition: all 0.7s ease;
}

.presentation__btn:hover {
	transform: scale(1.2);
}

.not__only-img {
	flex: 0 0 58.333%;
}

.not__only-image {
	display: block;
}

.about {
	display: flex;
	justify-content: center;
	padding-top: 90px;
	padding: 90px 0px;
}

.about__first-column,
.about__second-columm {
	flex: 0 0 50%;
}

.about__first-column {
	display: flex;
	justify-content: flex-end;
	padding-right: 120px;
}

.about-img {
	display: block;
	max-width: 300px;
}

.about__second-columm {
}

.about__wrapper {
	max-width: 430px;
}

.about__title {
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
	margin-bottom: 20px;
}

.about__text {
	font-family: "Arial", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
}

.about__text--first {
	margin-bottom: 20px;
}

.our-friends {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 80px;
	background-color: #f6f6f6;
}
.our-friends__title {
	max-width: 400px;
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-align: center;
	color: #545454;
	margin-bottom: 60px;
}
.slider__container {
	display: flex;
	justify-content: center;
	width: 100%;
}
.slider {
	display: flex;
	margin-bottom: 60px;
}
.slider__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 9px;
	padding: 30px 35px;
	width: 270px;
	height: 435px;
	background-color: #fafafa;
	margin: 0px 45px;
}

.slider__item-img {
	width: 270px;
	height: 270px;
}
.slider__item-title {
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.06em;
	color: #545454;
}
.slider__item-btn {
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 0.06em;
	width: 187px;
	height: 52px;
	border-radius: 100px;
	border: 2px solid #f1cdb3;
	background-color: #fafafa;
}
.slider-btn {
	display: none;
}
.our-friends__btn {
}
